[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BayesCVI"]
	path = BayesCVI
	url = https://github.com/o-preedasawakul/bayescvi
